h1{
    text-align: center;
    font-variant: unset;
    font-size: 50px;
    color: darkred;
    background-color: blue
}
h2{
    font: 300;
    text-align: center
}
html{
    background-color: aqua
}